body {
  background: #222;
}

.app-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cards-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin: 0;
}