.cardfield-container {
    text-align: left;
    margin-bottom: 8px;
    line-height: 1.1;
}

.label {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.value {
    font-size: 0.9rem;
    text-transform: capitalize;
}