@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

.chcard-container {
    display: flex;
    gap: 20px;
    width: 400pt;
    height: 250pt;
    background-color: rgb(247, 222, 177);
    padding: 20px;
    border: 3pt solid white;
    border-radius: 25px;
    font-family: 'Fredoka', sans-serif;
    color: #000;
}

.chcard-lcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
}

.chcard-lcol-avatar {
    width: 100%;
    height: 100%;
    border: solid 2pt #000;
    border-radius: 20pt;
    margin-bottom: 10px;
}

.chcard-lcol-id {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.chcard-rcol {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}