.stats-box-container {
    text-align: left;
    margin-bottom: 8px;
    line-height: 1.1;
}

.stats-box-title {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.stats-box-grid {
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 0;
}

.stats-box-grid-col {
    display: flex;
    text-align: left;
    text-transform: uppercase;
    flex-direction: column;
    gap: 10px
}

.stats-box-grid span {
    font-size: 1rem;
}